<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name="WeathAcademy.E2EMavenProject.Listerners" />
</listeners>
	
	<test thread-count="5" name="Homepage Test" parallel="tests">
		<!-- if i want to run tests in parrellel mode i just type ' parallel  ="tests" ' and it will give me the option -->
		<classes>
			<class name="WeathAcademy.E2EMavenProject.HomePage" />
		</classes>
	</test>
	
	<test thread-count="5" name="Navigate test">
		<classes>
			<class name="WeathAcademy.E2EMavenProject.NavigateBar" />
		</classes>
	</test>

	<test thread-count="5" name="Validate Text test">
		<classes>
			<class name="WeathAcademy.E2EMavenProject.ValidateTitle" />
		</classes>
	</test>

	<!-- Test -->
</suite> <!-- Suite -->